body {
  margin: 0;
  /* font-family: 'Tinos', serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Times-New-Roman";
  src: url(./Fonts/times\ new\ roman\ bold.ttf);
};